section.about-section
  .wrapper
    .about-section__container
      h2.about-section__title.font-w-t-regular.font-s-54.text-up
        | Магазин 
        span.color-beige «STARSHOVA» 
        | — 
        br.no-br
        | это 
        span.color-beige 12 лет 
        | успешных продаж 
        br.no-br
        | и экспертность в области 
        br.no-br
        | моды и имиджа
      .about-section__box
        .about-section__box-owner
          img.about-section__owner-img(src="images/about-section-img-owner.jpg" loading="lazy" width="760" height="880" alt="image")
          .about-section__owner-name.font-w-medium.font-s-20.color-text-2 Анастасия Старшова
          .about-section__owner-founder.font-s-16
            | Основательница студии 
            br.no-br
            | украшений
        .about-section__box-text.font-s-18.color-text-2
          | Первый островной магазин 
          span.font-w-medium «STARSHOVA» 
          | был открыт в 2012 году в ТЦ 
          br.no-br-md
          | в Набережных Челнах. Основная идея заключалась в раскрытии красоты 
          br.no-br-md
          | женщины через ее стиль. Мы создаем интересные и нестандартные образы 
          br.no-br-md
          | с помощью бижутерии, украшений и аксессуаров российских и 
          br.no-br-md
          | европейских коллекций.
          br
          br
          | В 2016 году мы провели первый ребрендинг компании и сменили формат 
          br.no-br-md
          | на закрытую студию по индивидуальному подбору образов с проведением 
          br.no-br-md
          | показов, привлечением стилистов и экспертов.
          br
          br
          | В 2020 году мы открыли первое open-space пространство на 318 м2 на 
          br.no-br-md
          | главном проспекте города, стали представителем эксклюзивных брендов 
          br.no-br-md
          | и партнером крупных блогеров и известных артистов. А в 2023 году мы 
          br.no-br-md
          | запустили магазин в собственном помещении в деловом парке, где собрали 
          br.no-br-md
          | лучшие коллекции России, Италии, Испании, Греции и Кореи, от базовых 
          br.no-br-md
          | моделей до ультрамодных украшений.
          br
          br
          | Запуская собственную компанию в этой сфере по франшизе, вы уже 
          br.no-br-md
          | на старте получаете готовую, проверенную и рабочую бизнес-модель, 
          br.no-br-md
          | которая позволит вам быстро окупить инвестиции и перейти к росту 
          br.no-br-md
          | и масштабированию.
          br
          br
          | Команда 
          span.font-w-medium «STARSHOVA» 
          | с радостью поможет вам на всех этапах и даст 
          br.no-br-md
          | полное понимание того, как привлекать большое количество клиентов, как 
          br.no-br-md
          | сформировать популярный ассортимент, и как стать брендом №1 в вашем 
          br.no-br-md
          | городе.
      .about-section__block-video
        video(id="myVideo" poster="images/about-section-poster.jpg" preload="auto" width="100%" height="auto")
          source(src="images/about-section-video.mp4" type="video/mp4")
          source(src="images/about-section-video.webm" type="video/webm")
          | Упс... Не удалось загрузить видео.
          br
          a(href="https://www.whatismybrowser.com/" target="_blank") Узнайте больше о вашем браузере.
      .about-section__bottom
        .font-w-t-regular.font-s-32.text-up
          | Будем рады 
          br.no-br
          | ответить 
          br.no-br
          | на ваши вопросы 
          br.no-br
          | по франшизе!
        form.about-section__form(data-feedback-form)
          input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          input.input(type="text" name="email" autocomplete="off" placeholder="E-mail")
          button.btn(type="submit") Задать вопрос команде
