section.city-section
  .wrapper
    .city-section__container
      h2.city-section__title.font-w-t-regular.font-s-54.text-up
        | Откройте 
        br.no-br
        | прибыльную студию 
        br.no-br
        | украшений 
        br.no-br
        | по франшизе 
        br.no-br
        span.color-beige «STARSHOVA»
      .city-section__sub-title.font-s-20
        | Скачайте финансовую модель 
        br
        | франшизы «STARSHOVA»
      form.city-section__form(data-feedback-form)
        input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
        input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
        button.btn(type="submit") Проверить
      img.city-section__img(src="images/city-section-img.png" loading="lazy" width="1560" height="1540" alt="image")
