section.details-section
  .wrapper
    .details-section__container
      .details-section__box
        .details-section__box-text
          h2.details-section__title.font-w-t-regular.font-s-32.text-up
            | Хотите получить 
            br.no-br
            | детальные расчеты 
            br.no-br
            | для вашего города 
            br.no-br
            | и под ваш бюджет?
          .font-s-20.color-text-2
            | Скачайте финансовую модель 
            br.no-br
            | франшизы «STARSHOVA»
        form.details-section__form(data-feedback-form)
          input(type="text" name="honeyfield" class="honeypot" style="display:none")
          input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn(type="submit") Скачать
