section.finances-section
  .wrapper
    .finances-section__container
      h2.finances-section__title.font-w-t-regular.font-s-54.text-up
        | О главных цифрах 
        br.no-br
        | франшизы

      .swiper-finances
        .finances-section__cards.swiper-wrapper
          .finances-section__card.swiper-slide
            .finances-section__card-title.font-w-t-regular.font-s-36.text-up.color-beige 2,5 месяца
            .font-s-20.color-text-2
              | займет 
              br.no-br
              | открытие студии
          .finances-section__card.swiper-slide
            .finances-section__card-title.font-w-t-regular.font-s-36.text-up.color-beige 36,3%
            .font-s-20.color-text-2
              | рентабельность 
              br.no-br
              | по чистой прибыли
          .finances-section__card.swiper-slide
            .finances-section__card-title.font-w-t-regular.font-s-36.text-up.color-beige
              | 910 000 
              span.font-w-m-regular ₽
            .font-s-20.color-text-2
              | средний размер 
              br.no-br
              | ежемесячной выручки
          .finances-section__card.swiper-slide
            .finances-section__card-title.font-w-t-regular.font-s-36.text-up.color-beige 11 месяцев
            .font-s-20.color-text-2
              | средний срок 
              br.no-br
              | окупаемости
          .finances-section__card.swiper-slide
            .finances-section__card-title.font-w-t-regular.font-s-36.text-up.color-beige 100-300%
            .font-s-20.color-text-2
              | размер наценки 
              br.no-br
              | на продукцию
          .finances-section__card.swiper-slide
            .finances-section__card-title.font-w-t-regular.font-s-36.text-up.color-beige
              | 310 000 
              span.font-w-m-regular ₽
            .font-s-20.color-text-2
              | средний размер 
              br.no-br
              | ежемесячной прибыли
        .finances-pagination.swiper-progress-finances

      .swiper-desktop
        .finances-section__desktop-cards.swiper-wrapper
          .finances-section__desktop-card.swiper-slide
            img.finances-section__img(src="images/finances-section-img-1.png" loading="lazy" width="1180" height="800" alt="image")
          .finances-section__desktop-card.swiper-slide
            img.finances-section__img(src="images/finances-section-img-2.png" loading="lazy" width="1180" height="800" alt="image")
          .finances-section__desktop-card.swiper-slide
            img.finances-section__img(src="images/finances-section-img-3.png" loading="lazy" width="1180" height="800" alt="image")
        .desktop-pagination
        .swiper-buttons
          button.button-prev(aria-label="prev")
            <svg width="26" height="8" viewBox="0 0 26 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M25 4.5C25.2761 4.5 25.5 4.27614 25.5 4C25.5 3.72386 25.2761 3.5 25 3.5V4.5ZM0.646447 3.64645C0.451184 3.84171 0.451184 4.15829 0.646447 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646447 3.64645ZM25 3.5H1V4.5H25V3.5Z"/>
            </svg>
          button.button-next(aria-label="next")
            <svg width="26" height="8" viewBox="0 0 26 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M25 4.5C25.2761 4.5 25.5 4.27614 25.5 4C25.5 3.72386 25.2761 3.5 25 3.5V4.5ZM0.646447 3.64645C0.451184 3.84171 0.451184 4.15829 0.646447 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646447 3.64645ZM25 3.5H1V4.5H25V3.5Z"/>
            </svg>
