section.finances-section
  .wrapper
    .finances-section__container
      h2.finances-section__title.font-w-t-regular.font-s-54.text-up
        | О главных цифрах 
        br.no-br
        | франшизы

      .swiper-finances
        .finances-section__cards.swiper-wrapper
          .finances-section__card.swiper-slide
            .finances-section__card-title.font-w-t-regular.font-s-36.text-up.color-beige 2,5 месяца
            .font-s-20.color-text-2
              | займет 
              br.no-br
              | открытие студии
          .finances-section__card.swiper-slide
            .finances-section__card-title.font-w-t-regular.font-s-36.text-up.color-beige 36,3%
            .font-s-20.color-text-2
              | рентабельность 
              br.no-br
              | по чистой прибыли
          .finances-section__card.swiper-slide
            .finances-section__card-title.font-w-t-regular.font-s-36.text-up.color-beige
              | 910 000 
              span.font-w-m-regular ₽
            .font-s-20.color-text-2
              | средний размер 
              br.no-br
              | ежемесячной выручки
          .finances-section__card.swiper-slide
            .finances-section__card-title.font-w-t-regular.font-s-36.text-up.color-beige 11 месяцев
            .font-s-20.color-text-2
              | средний срок 
              br.no-br
              | окупаемости
          .finances-section__card.swiper-slide
            .finances-section__card-title.font-w-t-regular.font-s-36.text-up.color-beige 100-300%
            .font-s-20.color-text-2
              | размер наценки 
              br.no-br
              | на продукцию
          .finances-section__card.swiper-slide
            .finances-section__card-title.font-w-t-regular.font-s-36.text-up.color-beige
              | 310 000 
              span.font-w-m-regular ₽
            .font-s-20.color-text-2
              | средний размер 
              br.no-br
              | ежемесячной прибыли
        .finances-pagination.swiper-progress-finances

      .swiper-desktop
        .finances-section__desktop-cards.swiper-wrapper
          .finances-section__desktop-card.swiper-slide
            img.finances-section__img(src="images/finances-section-img-1.png" loading="lazy" width="1180" height="800" alt="image")
          .finances-section__desktop-card.swiper-slide
            img.finances-section__img(src="images/finances-section-img-2.png" loading="lazy" width="1180" height="800" alt="image")
          .finances-section__desktop-card.swiper-slide
            img.finances-section__img(src="images/finances-section-img-3.png" loading="lazy" width="1180" height="800" alt="image")
        .desktop-pagination
        .swiper-buttons
          button.button-prev(aria-label="prev")
            img(src="images/swiper-prev-btn.png" loading="lazy" width="160" height="60" alt="prev")
          button.button-next(aria-label="next")
            img(src="images/swiper-next-btn.png" loading="lazy" width="160" height="60" alt="next")
