header.header
  .wrapper
    .header__container
      .header__brand.font-s-16 Франшиза студии украшений
      img.header__logo(src="images/logo-header.png" loading="lazy" width="426" height="176" alt="logo")
      .header__btn-wrapper
        button.btn.btn--call-me(data-remodal-target="modal-form-call-me") Обратный звонок
  .header__brand-mobile.font-s-16-a Франшиза студии украшений
