section.presentation-section
  .wrapper
    .presentation-section__container
      h2.presentation-section__title.font-w-t-regular.font-s-54.text-up
        | Ознакомьтесь 
        br.no-br
        | с нашими эксклюзивными 
        br.no-br
        | коллекциями
      .swiper-desktop
        .presentation-section__cards.swiper-wrapper
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img-1.png" loading="lazy" width="1180" height="720" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img-2.png" loading="lazy" width="1180" height="720" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img-3.png" loading="lazy" width="1180" height="720" alt="image")
        .desktop-pagination
        .swiper-buttons-presentation
          button.button-prev(aria-label="prev")
            img(src="images/swiper-prev-btn.png" loading="lazy" width="160" height="60" alt="prev")
          button.button-next(aria-label="next")
            img(src="images/swiper-next-btn.png" loading="lazy" width="160" height="60" alt="next")
