section.reasons-section
  .wrapper
    .reasons-section__container
      h2.reasons-section__title.font-w-t-regular.font-s-54.text-up
        span.color-beige 3 причины 
        | открыть бизнес 
        br
        | в этой сфере
      .reasons-section__box
        img.reasons-section__img(src="images/reasons-section-img.jpg" loading="lazy" width="380" height="490" alt="image")
        .reasons-section__cards-wrapper
          .swiper-reasons
            .reasons-section__cards.swiper-wrapper.color-text-2
              .reasons-section__card.swiper-slide
                .font-w-italic.font-s-20-a.color-beige Растущий спрос на уникальные украшения
                .font-w-regular.font-s-18-a
                  | Современные потребители, особенно молодые женщины в возрасте 
                  br.no-br
                  | от 14 до 45 лет, стремятся подчеркнуть свою индивидуальность через 
                  br.no-br
                  | аксессуары. Бижутерия позволяет им иметь разнообразные 
                  br.no-br
                  | украшения под каждый наряд, что способствует покупкам и повышает 
                  br.no-br
                  | частоту приобретений
              .reasons-section__card.swiper-slide
                .font-w-italic.font-s-20-a.color-beige Высокая маржинальность продукции
                .font-w-regular.font-s-18-a
                  | Бижутерия, особенно в среднем и высоком ценовых сегментах, 
                  br.no-br
                  | характеризуется значительной наценкой. Например, наценка на 
                  br.no-br
                  | товары в сегменте дорогой бижутерии может достигать 300% и более, 
                  br.no-br
                  | что обеспечивает высокую прибыльность бизнеса
              .reasons-section__card.swiper-slide
                .font-w-italic.font-s-20-a.color-beige Гибкость и масштабируемость бизнеса
                .font-w-regular.font-s-18-a
                  | Бижутерия — это компактный товар, не требующий больших 
                  br.no-br
                  | складских помещений, что упрощает логистику и снижает издержки. 
                  br.no-br
                  | Кроме того, возможность работать как в офлайн-, так и в онлайн-
                  br.no-br
                  | форматах позволяет охватить более широкую аудиторию и 
                  br.no-br
                  | адаптироваться к изменениям рынка
            .reasons-pagination.swiper-progress-reasons
