section.steps-section
  .wrapper
    .steps-section__container
      h2.steps-section__title.font-w-t-regular.font-s-54.text-up
        | Какие этапы 
        br.no-br
        | совместной работы 
        br.no-br
        | вас ждут
      .steps-section__box
        .swiper-steps
          .steps-section__cards.swiper-wrapper
            .steps-section__card.swiper-slide
              .steps-section__card-title.font-w-t-regular.font-s-24.text-up этап 01
              .font-s-18
                | Заключение 
                br.no-br
                | договора 
                br
                | франшизы
            .steps-section__card.swiper-slide
              .steps-section__card-title.font-w-t-regular.font-s-24.text-up этап 02
              .font-s-18
                | Поиск помещения 
                br.no-br
                | и заключение 
                br
                | договора аренды
            .steps-section__card.swiper-slide
              .steps-section__card-title.font-w-t-regular.font-s-24.text-up этап 03
              .font-s-18
                | Ремонт и оформление 
                br
                | помещения
            .steps-section__card.swiper-slide
              .steps-section__card-title.font-w-t-regular.font-s-24.text-up этап 04
              .font-s-18
                | Поиск 
                br
                | персонала
            .steps-section__card.swiper-slide
              .steps-section__card-title.font-w-t-regular.font-s-24.text-up этап 05
              .font-s-18
                | Доставка и монтаж 
                br.no-br
                | приобретенного 
                br
                | оборудования, мебели
            .steps-section__card.swiper-slide
              .steps-section__card-title.font-w-t-regular.font-s-24.text-up этап 06
              .font-s-18
                | Выбор и приобретение 
                br.no-br
                | украшений совместно 
                br.no-br
                | с собственником
            .steps-section__card.swiper-slide
              .steps-section__card-title.font-w-t-regular.font-s-24.text-up этап 07
              .font-s-18
                | Формирование первичных 
                br.no-br
                | запасов товара 
                br.no-br
                | и расходных материалов
            .steps-section__card.swiper-slide
              .steps-section__card-title.font-w-t-regular.font-s-24.text-up этап 08
              .font-s-18
                | Обучение 
                br
                | персонала
            .steps-section__card.swiper-slide
              .steps-section__card-title.font-w-t-regular.font-s-24.text-up этап 09
              .font-s-18
                | Официальное 
                br
                | открытие
            .steps-section__card.swiper-slide
              .steps-section__card-title.font-w-t-regular.font-s-24.text-up этап 10
              .font-s-18
                | Помощь в росте 
                br
                | и масштабировании бизнеса
          .steps-pagination.swiper-progress-steps
        img.steps-section__img(src="images/steps-section-img.jpg" loading="lazy" width="960" height="1402" alt="image")
      .steps-section__bottom
        .font-w-t-regular.font-s-32.text-up
          | Работаем по договору, 
          br.no-br
          | в котором четко прописаны 
          br.no-br
          | все условия сотрудничества
        button.btn.steps-section__btn(data-remodal-target="modal-form-agreement") Скачать пример договора
