.btn
  height: 45px
  width 100%
  user-select: none
  position: relative
  display: flex;
  justify-content: center
  align-items: center
  overflow: hidden
  color: #FFFFFF
  border-radius: 100px
  text-transform: uppercase
  background: #996E46
  font-family: 'Commissioner-Medium'
  font-weight: 500
  font-size: 14px
  line-height: 120%
  transition transform 0.5s, top 0.8s
  +above($breakpoints.sm)
    font-size: 14px;
    height: 50px;
  +above($breakpoints.md)
    font-size: 16px;
    height: 55px;
  +above($breakpoints.xxl)
    font-size: 18px;
    height: 60px

  &:hover
    transform: scale(1.02)

  &:active
    top: 3px

  &::before
    content: ""
    position: absolute
    top: 0;
    height: 100%;
    width: 36px;
    transform: skewX(-45deg)
    left: -150%
    pointer-events: none
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 4s infinite ease-in;
    vendord = official
    @keyframes flareAnimation
      0%
          left: -150%
      100% 
          left: 250%

  &--secondary
    font-size: 11px;
    +above($breakpoints.sm)
      font-size: 10px;
    +above($breakpoints.md)
      font-size: 12px;
    +above($breakpoints.xxl)
      font-size: 14px;
  &--city
    font-size: 11px;
    background: #000
    +above($breakpoints.sm)
      font-size: 10px;
    +above($breakpoints.md)
      font-size: 12px;
    +above($breakpoints.xxl)
      font-size: 14px;

  &--call-me
    text-transform: unset
    font-size: 11px;
    width 120px
    height: 26px
    +above($breakpoints.sm)
      font-size: 12px;
      width 145px
      height: 32px
    +above($breakpoints.md)
      font-size: 13px;
      width 160px
      height: 36px
    +above($breakpoints.xxl)
      font-size: 14px;
      width 170px
      height: 40px
